<a href="https://colab.research.google.com/github/murat-gunay/Good_Garbage/blob/master/ReadingFilesFromDrive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
!ls "/content/drive/My Drive"

 01_ForestProject-EDA-1.ipynb
'02_ForestProject-Modeling&Presentation.ipynb'
 covtype.csv
 creating_new_table.png
 creating_table.png
 datasets.zip
 exporting_csv.png
 ForestProject-EDA-1.ipynb
'ForestProject-Modelling&Presentation (1).ipynb'
'ForestProject-Modelling&Presentation (2).ipynb'
'ForestProject-Modelling&Presentation.ipynb'
 importing_csv_to_sql.png
 selecting_columns.png
 SQL_Queries.txt
 transforming_features.png

In [7]:
pd.read_csv("/content/drive/My Drive/covtype.csv")

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0            2596      51      3  ...            0            0           5
1            2590      56      2  ...            0            0           5
2            2804     139      9  ...            0            0           2
3            2785     155     18  ...            0            0           2
4            2595      45      2  ...            0            0           5
...           ...     ...    ...  ...          ...          ...         ...
581007       2396     153     20  ...            0            0           3
581008       2391     152     19  ...            0            0           3
581009       2386     159     17  ...            0            0           3
581010       2384     170     15  ...            0            0           3
581011       2383     165     13  ...            0            0           3

[581012 rows x 55 columns]